/**
** Framework Extend/Override
**/

/*
Media Queries (min-width):
sm == 35.5em
md == 48em
lg == 64em
xl == 80em
*/

.pure-g > div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
}

.join-controls *:not(:first-child):not(:last-child) {
	border-radius: 0 !important;
}

.join-controls *:first-child {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

.join-controls *:last-child {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.join-controls button {
	height: 36px;
}


/**
** Utils
**/

.center {
	text-align: center;
}

.loader {
	display: none;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-top: -60px;
	margin-left: -60px;
}


/**
** App Styles
**/

html, body, .app {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #212121;
}

header {
	position: fixed;
	left: 0;
	right: 0;
	height: 64px;
	z-index: 1;
	box-shadow: 0 2px 5px rgba(0,0,0,0.26);
	background-color: #AD1457;
	color: white;
}

.header-wrapper {
	margin: 0 72px;
}

.header-title {
	font-size: 18px;
	line-height: 64px;
}

.container {
	background-color: lightgray;
	overflow: hidden;
	height: 100%;
	position: relative;
	cursor: crosshair;
	touch-action: none;
}

.container canvas {
	position: absolute;
}